/**
 * Improve vertical spacing and alignment at the tops of pages
 * @todo this would be cleaner to implement if contributed back to wagtail
 */

.page-toc {
    /* Remove the extra whitespace above the page nav heading (is 2.4rem in the theme, plus the 1.5rem below the HR */
    padding-top: 0;
}

.rst-content > main > section:first-child {
    /* Remove the extra whitespace above the main article heading (is 2.5rem in the theme, plus the 1.5rem below the HR */
    margin-top: 0;
}

.row :has(>.rst-content) {
    /* Get the article title & "Page contents" headings to sit on the same baseline */
    align-items: baseline;
    /* If extra whitespace desired above the headings, would be better to add a padding-top here to push the article
       and nav content down by the same amount
    */
}
