/*
 * Main behat colours - based on extraction from a picture of a cucumber 😂 and then
 * generating complementary etc colours.
 */
:root {
    /*
     * Tints and shades here can be computed from brand colours using color-mix for ease
     * of changing / clarity about where they came from. However, the color-mix functions
     * need to take hardcoded colours (not variables) to allow lightningcss to compile them
     * out for older browsers.
     */
    --behat-green: #506A2A;
    --behat-green-dk-1: color-mix(in oklab, var(--behat-green), black 20%);
    --behat-green-lt-4: color-mix(in oklab, var(--behat-green), white 80%);

    --behat-black: color-mix(in oklab, var(--behat-green), black 60%);

    /* Alternate green */
    --behat-green-2: #DBDFBE;

    --behat-accent: #2a506a;
}
