/*
 * Main behat colours - based on extraction from a picture of a cucumber 😂 and then
 * generating complementary etc colours.
 */
:root {
    /*
     * Tints and shades here can be computed from brand colours using color-mix for ease
     * of changing / clarity about where they came from. However, the color-mix functions
     * need to take hardcoded colours (not variables) to allow lightningcss to compile them
     * out for older browsers.
     */
    --behat-green: #506A2A;
    --behat-green-dk1: color-mix(in oklab, #506A2A, black 20%);
    --behat-green-dk2: color-mix(in oklab, #506A2A, black 40%);
    --behat-green-dk3: color-mix(in oklab, #506A2A, black 60%);
    --behat-green-dk4: color-mix(in oklab, #506A2A, black 80%);

    /* Alternate green */
    --behat-green-2: #DBDFBE;
    --behat-green-2-dk3: color-mix(in oklab, #DBDFBE, black 60%);
    --behat-green-2-lt2: color-mix(in oklab, #DBDFBE, white 40%);

    --behat-accent: #2a506a;
}
