html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
}

body {
    background: url(../img/bg.png) repeat-x;
}

body > header {
    display: block;
    max-width: 820px;
    margin: 0 auto;
    height: 55px;
    margin-bottom: 30px;
}

body > header .logo {
    margin-top: 22px;
    background: url(../img/logo.png) no-repeat;
    display: block;
    width: 93px;
    height: 29px;
    text-indent: -9999em;
    overflow: hidden;
    float: left;
}

body > header nav {
    float: left;
    margin-left: 34px;
}

body > header nav ul {
    margin: 0px;
    padding: 0px;
}

body > header nav ul li {
    float: left;
    padding: 22px 8px;
    padding-bottom: 0px;
    border-top: 6px solid #a19f9f;
}

body > header nav ul li.active {
    border-color: #000;
}

body > header a {
    font-size: 1.4rem;
    padding: 0px 7px;
    padding-bottom: 10px;
    color: #505050;
    text-decoration: none;
}

body > header li:hover {
    border-color: #686868;
}

body > header nav ul li.active a {
    color: #000;
    font-weight: bold;
}

body > header .fork {
    background: url(../img/fork.png) no-repeat;
    float: right;
    margin-top: 24px;
    padding: 3px 0px 0px 22px;
    height: 22px;
}

body > header:after {
    clear: both;
}

body > section {
    max-width: 820px;
    margin: 20px auto;
    font-size: 1.6rem;
    color: #4F4F4F;
}
