.text {
    float: left;
    width: 550px;
    margin-bottom: 20px;
}

.text h1,
.text h2,
.text h3,
.text h4,
.text h5 {
    font-family: 'Comfortaa';
    text-transform: lowercase;
    color: #000;
    font-weight: normal;
}

.text h2,
.text h3,
.text h4,
.text h5 {
    margin-top: 35px;
}

.text h1 {
    font-size: 3.6rem;
}

.text h2 {
    font-size: 2.8rem;
}

.text h3,
.text h4 {
    font-size: 2.4rem;
}

.text h1 a,
.text h2 a,
.text h3 a,
.text h4 a {
    font-weight:normal;
    color:#343434 !important;
    display:none;
    margin-left:5px;
    text-align: left;
    text-decoration:none;
}

.text h1:hover a,
.text h2:hover a,
.text h3:hover a,
.text h4:hover a {
    display:inline !important;
}

.text h1:hover a:hover,
.text h2:hover a:hover,
.text h3:hover a:hover,
.text h4:hover a:hover {
    text-decoration: underline;
}


.text h1 .docutils.literal,
.text h2 .docutils.literal,
.text h3 .docutils.literal,
.text h4 .docutils.literal {
    font-size:inherit;
}

.text p {
    line-height: 2.4rem;
}

.toc {
    font-size: 1.4rem;
    float: right;
    width: 200px;
    padding: 10px;
}

.toc h3 {
    display: block;
    height: 40px;
    padding: 4px 0px 0px 30px;
    font-size: 2.4rem;
    font-weight: normal;
    font-style: italic;
    background: url(../img/chapters.png) no-repeat;
    margin-bottom: 12px;
}

.toc ul {
    margin: 0px;
    padding: 0px 0px 0px 18px;
    list-style: square;
    line-height: 2.0rem;
}

.toc ul li {
    margin-bottom: 8px;
}

.toc ul a {
    color: #4F4F4F;
    font-size: 1.4rem;
    text-decoration: none;
}

.toc ul a:hover {
    text-decoration: underline;
}

.toc .docutils.literal {
    background:#ccc;
    color:#000;
    padding:1px 3px;
    padding-bottom:2px;
    font-size:1.8rem;
    font-family: monospace;
    font-weight:normal;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.toc > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.toc > ul > li > a {
    display: none;
}

.toc > ul > li > ul {
    list-style: decimal;
}

.text p a {
    text-decoration:underline;
}

.text p a:hover {
    text-decoration:none;
}

.text ul.simple a {
    text-decoration:underline;
}

.text ul.simple a:hover {
    text-decoration:none;
}

.text img {
  display:block; 
  margin-left:auto; 
  margin-right:auto;
}

.text a {
    color:#000;
    font-style:default;
    text-decoration:underline;
}

.text a:hover {
    text-decoration:none;
}

.text p,
.text ul,
.text ol,
.highlight,
.text .note,
.text .sidebar,
.text .tip,
.text img {
    margin-bottom:20px;
}

.text ol,
.text ul {
    line-height: 2.4rem;
    padding-left: 2.2rem;
}

.text ol > li,
.text ul > li {
    margin-bottom: 7px;
}

.text .docutils.literal {
    background:#ccc;
    color:#000;
    padding:1px 3px;
    padding-bottom:2px;
    font-size:1.8rem;
    font-family: monospace;
    font-weight:normal;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}



.toctree-l2 > ul {
    display:inline;
    list-style:none;
    margin:0px;
    padding:0px;
}

.toctree-l2 > ul:before {
    content:'(';
}

.toctree-l2 > ul:after {
    content:')';
}

.toctree-l2 > ul > li {
    display:inline;
}

.toctree-l2 > ul > li a {
    font-size:14px;
}

.toctree-l2 > ul > li:after {
    content:', ';
}

.toctree-l2 > ul > li:last-child:after {
    content:'';
}



#guides > .toctree-wrapper > ul > li,
#cookbook > .toctree-wrapper > ul > li {
    margin-bottom:2px;
}



.highlight {
    margin-left:13px;
    padding:0px;
    font-size:1.3rem !important;
    font-family: monospace;
    -moz-border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 10px 0px;
    background:#272822;
    color:#F8F8F2;
    position:relative;
}

.highlight > pre {
    line-height:18px;
    padding-top:13px !important;
    padding-bottom:13px !important;
}

.highlight ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.highlight ::-webkit-scrollbar-track-piece  {
    background-color: #272822;
/*    -webkit-border-radius: 6px;*/
}
.highlight ::-webkit-scrollbar-thumb:horizontal {
    background-color: #3b3d33;
}

.highlight pre {
    overflow-y:auto;
    padding:10px;
    padding-left:20px;
}

.highlight:before {
    position:absolute;
    display:block;
    content:'';
    width:28px;
    height:28px;
    left:-15px;
    top:8px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#272822 url(../img/code.png) no-repeat 4px 4px;
}



.text .admonition-title {
    display:none;
}

.text .note p, .text .tip p {
    margin-top: 0px;
}

.text .note, .text .tip, .text .sidebar {
    margin-left:13px;
    padding:10px;
    padding-left:20px;
    font-weight:normal !important;
    -moz-border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 10px 0px;
    position:relative;
    float: none;
    width: auto;
    border: 0px;
}

.text .sidebar {
    background: #ffe;
    border: 1px solid #ddb;
    color: inherit;
}

.text .sidebar:before {
    position:absolute;
    display:block;
    content:'';
    width:28px;
    height:28px;
    left:-15px;
    top:6px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddb;
    background:#ffe url(../img/example.png) no-repeat 4px;
}

.text .note {
    background:#474747;
    color:#ccc;
}

.text .note .docutils.literal, .text .tip .docutils.literal {
    color:#fff;
}

.text .admonition-title {
    display:none;
}

.text .note p, .text .tip p {
    margin-bottom:15px;
    font-size:1.4rem;
    line-height:20px;
}

.text .note .docutils.literal {
    background:#1d1e1e;
}

.text .tip .docutils.literal {
    background:#71705d;
}

.text .note a, .text .tip a {
    color:#fff;
    text-decoration:underline;
}

.text .note a:hover, .text .tip a:hover {
    text-decoration:none;
}

.text .note .docutils.literal, .text .tip .docutils.literal {
    font-size:1.6rem;
}

.text .note p:last-child, .text .tip p:last-child {
    margin-bottom:0px;
}

.text .note .highlight:last-child, .text .tip .highlight:last-child {
    margin-bottom:0px;
}

.text .note:before {
    position:absolute;
    display:block;
    content:'';
    width:28px;
    height:28px;
    left:-15px;
    top:6px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#474747 url(../img/note.png) no-repeat 4px;
}

.text .tip {
    background:#97957c;
    color:#fff;
}

.text .tip:before {
    position:absolute;
    display:block;
    content:'';
    width:28px;
    height:28px;
    left:-15px;
    top:6px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#97957c url(../img/tip.png) no-repeat 4px;
}
