/*
 * Color scheme (based on "Cool as a Cucumber" https://www.color-hex.com/color-palette/10563)
 */
:root {
    --behat-green: #0e9454;
    /** 20% shade of behat-green */
    --behat-green-dk: #0b7643;
    /** 80% tint of behat-green */
    --behat-green-lt: #e7f4ee;

    /** 90% shade of behat-green */
    --behat-black: #010f08;

    /* Alternate green */
    --behat-green-2: #2cea72;


    --behat-accent: #54e5da;
}

.bg-primary {
    background-color: var(--behat-green) !important;
}

a {
    color: var(--behat-green-dk);
    text-decoration-color: var(--behat-green-2);
}

.toc .current > a {
    color: #333;
    text-decoration-color: transparent;
}

pre {
    background-color: var(--behat-black);
}

.admonition.tip,
.admonition.important,
.admonition.seealso {
    background-color: var(--behat-green-lt);
}

.admonition.tip > .admonition-title,
.admonition.important > .admonition-title,
.admonition.seealso > .admonition-title {
    background-color: var(--behat-green);
}

/**
 * Spacing tweaks
 */

.admonition > p:last-child {
    /** Remove redundant whitespace at the bottom of an admonition - @todo: could be contributed back to wagtail? */
    margin-bottom: 0;
}

/** Ensure that the footer is pulled to the bottom on short pages */
/** @todo: this could be contributed back to the theme */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > div.container-fluid {
    flex-grow: 1;
}

/**
 * Improve vertical spacing and alignment at the tops of pages
 * @todo this would be cleaner to implement if contributed back to wagtail
 */
.page-toc {
    /* Remove the extra whitespace above the page nav heading (is 2.4rem in the theme, plus the 1.5rem below the HR */
    padding-top: 0;
}

.rst-content > main > section:first-child {
    /* Remove the extra whitespace above the main article heading (is 2.5rem in the theme, plus the 1.5rem below the HR */
    margin-top: 0;
}

.row :has(>.rst-content) {
    /* Get the article title & "Page contents" headings to sit on the same baseline */
    align-items: baseline;
    /* If extra whitespace desired above the headings, would be better to add a padding-top here to push the article
       and nav content down by the same amount
    */
}

/**
 * Use Behat (Comfortaa) font
 */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Comfortaa', var(--font-family-sans-serif);
}

header .navbar-brand {
    font-family: 'Comfortaa', var(--font-family-sans-serif);
    /* font metrics are different to the font wagtail is using, their 1.5em is offcentre vertically with our font */
    font-size: 1.25rem;
}

