{%- extends "basic/layout.html" %}

{% set script_files = script_files + [] %}
{% set css_files = css_files + ['_static/css/normalize.css', '_static/css/borg.css', '_static/css/documentation.css', '_static/css/pygments.css', 'http://fonts.googleapis.com/css?family=Comfortaa'] %}

{# do not display relbars #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}

{% block content %}
    <header>
        <a class="logo" href="http://behat.org">behat</a>

        <nav>
            <ul>
                <li><a href="http://behat.org">About</a></li>
                <li class="active"><a href="/">Docs</a></li>
            </ul>
        </nav>

        <a class="fork" href="https://github.com/Behat/Behat">Fork us</a>
    </header>

    <section>

        <nav class="toc">
            <h3>Chapters</h3>
            {{ toc }}
        </nav>

        <section class="text">
            {% block body %}{% endblock %}
        </section>

    </section>
{% endblock %}

{% block footer %}{% endblock %}